.nav {
    grid-area: n;
    background-color: teal;
    padding: 20px;
}

.item {
    color: #fff;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    height: 30px;
    margin-bottom: 5px;
    border: blanchedalmond solid 1px;
    transition: all 0.3s;
    background-color: rgba(0, 80, 120, 0);
}

.link:hover {
    transform: scale(1.03, 1.03);
    background-color: rgba(0, 80, 120, 0.4);
}

.activeLink{
    color: goldenrod;
}