.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h"
  "n c";

  max-width: 1280px;
  margin: 0 auto;
}

.app-wrapper-content {
  background: pink;
  grid-area: c;
}

.appPreloader {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}