.dialogs {
    
}

.dialogsLists{
    display: flex;
    background-color: cornflowerblue;
}

.messages{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 70%;
}

.dialogsItems{
    width: 30%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: coral;
}
